name: Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_PERSONAL_ACCESS_TOKEN }}

      - name: Declare Variables
        id: variables
        run: |
          echo "set SHORT_SHA=$(git rev-parse --short HEAD)"
          echo "::set-output name=SHORT_SHA::$(git rev-parse --short HEAD)"

      - name: Build and Push Container Image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/daemon3:${{ steps.variables.outputs.SHORT_SHA }}
